
body {
  background: url('/static/ECG.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  color: #3f0303;
  margin: 0;
  padding: 0;
}


@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/*.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 50px auto;
}*/
.container {
  background: rgba(255, 255, 255, 0.6); /* dark semi-transparent overlay */
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 30px;
  color: #000;
  box-shadow: 0 8px 32px rgba(3, 43, 74, 0.3);
  max-width: 600px;
  margin: 50px auto;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
}




input[type="file"] {
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
